html {
    height: 100%;
}

body {
    height: 100%;
    font-family: 'Roboto', Trebuchet MS, Tahoma, Sans-Serif;
    font-size: 0.9em;
    margin: 2em;
    background-color: #FFFAF5;
}

h1, h2 {
    font-family: 'Roboto';
    line-height: 100%;
}

h1 {
    font-size: 3em;
    font-weight: normal;
    color: #E3AE57;
    position: relative;
    margin-left: 7em;
    text-align: left;
}

h1 .coursename {
    position: absolute;
    font-size: 2em;
    color: #4A6CD4;
    left: -3.125em;
    top: 50%;
    margin-top: -.25em;
}

h1 a {
    color: #F3761D;
}

h1 a:hover {
    text-decoration: none;
}

h2 {
    position: relative;
    left: 2.5%;
    color: #F3761D;
    clear: both;
}

h3 {
    clear: both;
}

hr {
    width: 95%;
    border: 0;
    color: #0494DC;
    background-color: #0494DC;
    height: 2px;
}

ul.courseinfo {
    list-style: none;
    position: relative;
}

ul.navigation {
    text-align: center;
}

ul.navigation li {
    display: inline;
    margin: 1em;
}

a {
    color: #0494DC;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

table.announcements {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

table.announcements td.date {
    vertical-align: top;
    color: #0072c1;
    width: 10em;
}

table#calendar {
    width: 95%;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

table#calendar th {
    font-family: 'Roboto Slab', sans-serif;
    font-size: 1.0em;
    color: #0072c1;
}

table#calendar td {
    border: 1px solid #888;
    background-color: #c1d6e3;
    padding: 0.2em;
}

table#calendar tbody.current td {
    background-color: #b0d4ed;
}

table#calendar td.weeknum {
    text-align: center;
}

table#calendar td.reading ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

table#schedule {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

table#schedule th {
    font-family: 'Roboto Slab', sans-serif;
    font-size: 1.2em;
    color: #0072c1;
}

table#schedule td {
    border: 1px solid #888;
    width: 19%;
    height: 2em;
    background-color: #c1d6e3;
}

table#schedule td.split {
    width: auto;
}

table#schedule td.time {
    width: auto;
    vertical-align: top;
    text-align: right;
    font-size: 0.7em;
}

table#schedule td.slot {
    text-align: center;
    height: auto;
}

table#schedule td.lecture {
    background-color: #f8fabb;
}

table#schedule td.lab {
    background-color: #74f553;
}

table#schedule td.dis {
    background-color: #F18EF5;
}

table#schedule td.oh {
    background-color: #b2cfff;
}

div.footer {
    width: 100%;
    text-align: center;
    font-size: .8em;
    margin: 1em;
}

div.staffer {
    float: left;
    text-align: center;
    width: 200px;
    margin: 1em;
}

div.staffer img {
    border: 1px solid #888;
}

table.staff_table {
    border-collapse: collapse;
}

table.staff_table td {
    /*border: 1px solid #888; */
    text-align: center;
    padding: 10px;
}

.staffer img {
    border: 1px solid #888;
}

.staffer p {
    font-family: Verdana, Tahoma, Sans-Serif;
    font-size: 1.0em;
}

td.hidden {
    visibility:hidden;
}


table.tally {
    width: 700;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

table.tally th {
    font-family: 'Lato', sans-serif;
    font-size: 1.2em;
    color: #0072c1;
}

table.tally td {
    border: 1px solid #888;
    background-color: #c1d6e3;
    padding: 0.2em;
    text-align:center
}

p {
    position: absolute;
    bottom: 5px;
}