html {
    height: 100%;
}

body {
    height: 100%;
    font-family: 'Roboto';
    font-size: 0.9em;
    margin: 2em;
    background-color: #FFFAF5;
}

h1, h2 {
    font-family: 'Roboto';
    line-height: 100%;
}

h1 {
    font-size: 3em;
    font-weight: normal;
    color: #E3AE57;
    position: relative;
    text-align: center;
}

h1 .coursename {
    position: absolute;
    font-size: 2em;
    color: #4A6CD4;
    left: .5em;
    top: 5%;
    margin-top: -.25em;
}

h1 a {
    color: #F3761D;
}

h1 a:hover {
    text-decoration: none;
}

h2 {
    position: relative;
    left: 2.5%;
    color: #F3761D;
    clear: both;
}

h3 {
    position: relative;
    left: 5%;
    color: #E3AE57;
    clear: both;
}

hr {
    width: 95%;
    border: 0;
    color: #E3AE57;
    background-color: #E3AE57;
    height: 2px;
}

ul.courseinfo {
    list-style: none;
    position: relative;
}

ul.navigation {
    text-align: center;
}

ul.navigation li {
    display: inline;
    margin: 2%;
}

ul.contact {
    text-align: left;
}

ul.contact li {
    display: inline;
    margin: 2%;
}

ul.topics {
    position: relative;
    left: 1.5%;
}

ul.grading {
    position: relative;
    left: 1.5%;
    list-style: none;
}

ul.resources {
    text-align: left;
}

ul.resources li {
    display: inline;
    margin: 10%
}

ul.l_a {
    text-align: center;
}

ul.l_a li {
    display: inline;
    margin: 2%;
}

a {
    color: #F3761D;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

table.announcements {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

table.announcements td.date {
    vertical-align: top;
    color: #F3761D;
    width: 10em;
}

table#calendar {
    width: 92%;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

table#calendar th {
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 1.1em;
    color: #E3AE57;
    border-bottom: 2px solid #F3761D;
}

table#calendar td {
    border-bottom: 1px solid #E3AE57;
    padding: 10px 8px;
    text-align: center;
}

table#calendar tbody.current td {
    background-color: #0494DC;
}

table#calendar td.reading ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/*table#calendar tbody tr:hover td{
    background-color: #E3AE57;
}
*/
div.footer {
    width: 100%;
    text-align: center;
    font-size: .8em;
    margin: 1em;
}

div.staffer {
    float: left;
    text-align: center;
    width: 200px;
    margin: 1em;
}

div.staffer img {
    border: 1px solid #888;
}

table.staff_table {
    border-collapse: collapse;
}

table.staff_table td {
    /*border: 1px solid #888; */
    text-align: center;
    padding: 10px;
}

.staffer img {
    border: 1px solid #888;
}

.staffer p {
    font-family: 'Roboto';
    font-size: 1.0em;
}

td.hidden {
    visibility:hidden;
}


table.tally {
    width: 700;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

table.tally th {
    font-family: 'Roboto', ;
    font-size: 1.2em;
    color: #0072c1;
}

table.tally td {
    border: 1px solid #888;
    background-color: #c1d6e3;
    padding: 0.2em;
    text-align:center
}

p {
    position: relative;
    margin-left: 5%;
    margin-right: 3%
}

p.about {
    position: relative;
    margin-left: 3%;
    margin-right: 3%
}